@font-face{
  font-family: 'Brittany';
  src: url('./BrittanySignature.ttf');
}
:root{
  --bars-color:lightgreen;
  --detail-color: #90bbaf;
}

* {
  margin: 0;
  padding: 0;
}
html{
  scroll-behavior: smooth;
}
body {
  font-size: 16px;
  line-height: 1.5;
}

/*-----------------------PAGE1----------------------------------*/
header {
  display: flex;
  justify-content: space-between;
  background-color: var(--bars-color);
  height: 6rem;
  padding-right: 2%;
}
#cabecalho {
  list-style-type: none;
  padding: 0.25rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  font-family: 'Poppins', sans-serif;
  transition: all 0.3s ease-in-out;
}
#cabecalho li:hover{
  opacity: 0.5;
  transform: scale(1.1);
  cursor: pointer;
}
.navlist {
  text-decoration: none;
  color: #000;
  font-size: 17px;
}
#facebook {
  width: 30px;
  height: 30px;
}

#page1 {
  width: 100%;
  height: 85vh;
  display: flex;
  background-image: url("./img/teste7.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
#foto1{
  max-height: 85vh;
  border-top-right-radius:45%;
  border-bottom-right-radius:45%;
}
#titulo {
  padding-top: 3%;
  margin-left: 12%;
}
#titulo h1{
  font-family: 'Brittany', sans-serif;
  font-size: 80px;
  color: black;
}
#titulo h2{
  font-family: 'Poppins', sans-serif;
  font-size: 20px;  
}
#titulo p{
  margin-top: 5%;
  font-family: 'Poppins', sans-serif ;
}
#btnPage1{
  margin-top: 14%;
  padding: 30px;
  border-radius: 10px;
  border: 1px solid black;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  transition: all 0.3s ease-in-out;
}
#btnPage1:hover{
  background-color: rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
  cursor: pointer;
}
#wpp{
  width: 5rem;
  height: 5rem;
  position: fixed;
  top: 85%;
  left: 94%;
  bottom: 0;
  right: 0;
  transition: all 0.3s ease-in-out;
  z-index: 4;
}
#wpp:hover{
  transform: scale(1.1);
  cursor: pointer;
}
#btnUp{
  width: 3rem;
  height: 3rem;
  position: fixed;
  top: 100px;
  right: 15px;
  display: none;
  background-color: transparent;
  border-radius: 50%;
  z-index: 4;
}

/*-----------------------PAGE2----------------------------------*/
.container {
  display: flex;
  justify-content: space-around;
  padding-top: 2%;
  text-align: center;
  max-height: 98vh;
  background-image: url("./img/teste7.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.pagetext {
  width: 45%;
  height: 81vh;
  background-color: var(--bars-color);
  padding: 2%;
  border-radius: 5px;
}
.cont-title{
  font-family: 'Brittany', sans-serif;
  font-size: 60px;
  color: black;
  padding-top: 3%;
}
.cont-p{
  padding: 2%;
  margin-top: 5%;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
}
.foto2 {
  width: 100%;
  max-height: 89vh;
  box-shadow: 20px 10px var(--bars-color);
}

/*-----------------------PAGE3----------------------------------*/
#especs{
  list-style-image: url("./img/tomate.png");
}

/*-----------------------PAGE4----------------------------------*/
#foto3{
  width: 80%;
  padding-top: 2%;
  box-shadow: 20px 10px var(--bars-color);
  border-radius: 5px;
}
.text-contrast{
  background-color: var(--detail-color);
  border-radius: 5px;
}
#consult-list{
  height: 35vh;
}
.icon-box{
  background-color: var(--bars-color);
  display: grid;
  flex-wrap: wrap;
  border: 2px solid #000;
  margin-top: 6%;
  border-radius: 5px;
  list-style: none;
  font-family: 'Poppins', sans-serif;
}
.icon{
  margin-left: 5%;
  margin-top: 1%;
  width: 50px;
  height: 50px;
}

/*-----------------------PAGE5----------------------------------*/
#duvidas{
  width: 80%;
  height: 81vh;
  background-color: var(--bars-color);
  padding: 2%;
  border-radius: 5px;
}

#duv-list{
  list-style: none;
}

/*-----------------------FOOTER---------------------------------*/
#footer {
  display: flex;
  justify-content: space-between;
  text-align: start;
  height: 98vh;
  background-color: var(--bars-color);
}
#endereco{
  margin-left: 2%;
  max-height: 75vh;
  display: flex;
  flex-direction: column;
justify-content: space-between;
}
#btnFooter{
  padding: 25px;
  margin-top: 2%;
  border-radius: 10px;
  border: 1px solid black;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  transition: all 0.3s ease-in-out;
}
#btnFooter:hover{
  background-color: rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
  cursor: pointer;
}

#map{
  height: 85%;
  width: 40%;
  margin-right: 5%;
  margin-top: 5%;
  border-radius: 5px;
}
/* LAPTOP */
@media screen and (max-width: 1024px){
  #wpp{
    top: 85%;
    left: 92%;
  }
  .cont-title{
    font-size: 40px
  }
  #end-text h4{
    font-size: 16px;
  }
}

/* TABLET */
@media screen and (max-width: 768px){

/* ----------------------------PAGE1------------------------------------ */
#cabecalho{
  display: none;
}
#titulo h1{
  font-size: 60px;
}
#titulo h2{
  font-size: 17px;
}
#wpp{
  top: 85%;
  left: 90%;
}
  /* ----------------------------PAGE2------------------------------------ */
  .pagetext{
    width: 80%;
    margin: 0 0 0 9%;
  }
  .foto2{
    display: none;
  }
  #btnPage1{
    margin-top: 4%;
  }
  /* ----------------------------PAGE3------------------------------------ */
  #especs{
    padding-left: 2%;
  }
  /* ----------------------------PAGE4------------------------------------ */
  .container {
    display: block;
    justify-content: center;
    padding-top: 2%;
    text-align: center;
    max-height: 100%;
    background-image: url("./img/teste7.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  #duvidas{
    margin: 0 0 0 9%
  }
  #footer{
    display: block;
  }
  #endereco{
    margin: 0 0 0 9%;
    width: 80%;
    flex-direction: row;
  }
  #btnFooter{
    padding: 10px;
  }
  #map{
    height: 50%;
    width: 84%;
    margin: 2% 0 0 9%;
    border-radius: 5px;
    background-color: var(--bars-color);
  }
}
@media screen and (max-width: 425px){
  #foto1{
    max-height: 50vh;
  }
  #titulo{
    margin-left: 7%;
  }
  #titulo h1{
    font-size: 60px;
  }
  #titulo p{
    display: none;
  }
  #wpp{
    top: 85%;
    left:0;
    width: 4rem;
  }
  #btnPage1{
    padding: 25px;
    font-size: 14px;
    margin-top: 20%;
  }
  #btnUp{
    top: 165px;
    right: 15px;
  }
  .cont-p{
    font-size: 16px;
  }
  .pagetext{
    height: 65vh;
  }
  #consult-list{
    display: none;
  }
  #duvidas{
    height: 55vh;
  }
  #endereco{
    flex-direction: column;
  }
  #end-text{
    width: 100%;
  }
  #end-text h4{
    font-size: 12px;
  }
  #end-contacts{
    width: 100%;
  }
  #end-contacts h4{
    width: 100%;
    font-size: 12px;
  }
  #btnFooter{
    margin-left: 20%;
  }
  #map{
    height: 40%;
  }
}